; vim: set ts=4 sw=4 sts=0 noexpandtab filetype=gitconfig:

[user]
	name =
	email =

[credential]
	helper =

[github]
	user =

[http]
	;sslVerify = false
	proxy =
[https]
	proxy =

[redmine]
	apiKey =
