# Git
.gitsecret

# Jetbrains IDE
*.iml
.idea

# Local settings
tmp/*
.zshrc.local
.vimrc.local
.gvimrc.local
.config/dein/plugins.local.toml
.config/prs/sections.yml

# Vim
.vim/bundle/*
.vim/view
.vim/ref/*
.vim/tmp/*
.*sw[op]

# Homebrew
Brewfile.lock.json

# deprecated local files
.zplugrc.local
