; vim: set ts=4 sw=4 sts=0 noexpandtab filetype=gitconfig:

[push]
	;; default is git >= 1.9
	;default = simple

[pull]
	;; default is git >= 1.0
	;default = simple

[user]
	name =
	email =

[credential]
	helper =

[github]
	user =

[http]
	;sslVerify = false
	proxy =
[https]
	proxy =

[redmine]
	apiKey =
