*.pyc
*.dcu
*.swo
*.swp

.bash_profile

.DS_Store
.sh_history
.bash_history
.zsh_history
.mysql_history
.irb_history
.io_history
.sqlite_history
.vim
.w3m
.ssh
.vimperator
.pentadactyl
.pearrc
.dotcloud

workspace
tmp
Desktop
Downloads
Documents
Pictures
Dropbox
Library
Movies
Music
Public

.gitconfig
.gem
.jenkins
.local
.oh-my-zsh
.pip
.php_history
.rbenv


.vimrc.local
.gvimrc.local

