if !exists('g:vscode')
  set shell=/opt/homebrew/bin/zsh
  set backup swapfile
endif

" github {{{
let g:github_user  = ''
let g:github_token = ''
" }}}

" Hooks

function! LoadedHookVIMRC()
  " This function called when loaded $MYVIMRC
endfunction

" vim:set fdm=marker ts=2 sw=2 sts=0 expandtab filetype=vim:
