set backup swapfile

" TweetVim {{{
let g:tweetvim_display_icon = 1 " Require imagemagick
" }}}
" github {{{
let g:github_user  = ''
let g:github_token = ''
" }}}

" Hooks

function! LoadedHookVIMRC()
  " This function called when loaded $MYVIMRC
endfunction

" vim:set fdm=marker ts=2 sw=2 sts=0 expandtab filetype=vim:
