let g:local_config = {
  \ 'dotfiles_dir'        : $HOME . '/dotfiles',
  \ 'tmp_dir'             : $HOME . '/.vim/tmp',
  \ 'weekly_buffer_dir'   : $HOME . '/.vim/tmp/.gtd',
  \ 'ref_phpmanual_path'  : $HOME . '/.vim/ref/php',
  \ 'ref_jquery_path'     : $HOME . '/.vim/ref/jqapi-latest',
  \ 'phpunit_dir'         : 'ctags_dir',
  \ }

" Not use white space into the statement (Suck!!)
set directory=~/tmp/vim/swap,/tmp,.
set backupdir=~/tmp/vim/backup,/tmp,.
set viewdir=~/tmp/vim/view
if has('persistent_undo')
  set undodir=~/tmp/vim/undo
endif

" TwitVim
let twitvim_browser_cmd = 'firefox'
let twitvim_count       = 120
let twitvim_login_b64   = ''
let twitvim_bitly_user  = ''
let twitvim_bitly_key   = ''

" bitly.vim
let g:bitly_login   = ''
let g:bitly_api_key = ''

" github
let g:github_user  = ''
let g:github_token = ''

" Calendar.vim
let g:calendar_diary = $HOME.'/tmp/diary'

" dbext.vim
let g:dbext_default_profile = 'mysql_local'
let g:dbext_default_profile_mysql_local = ''

" unite-sf2
"let g:unite_source_sf2_root_dir = ''
let g:unite_source_sf2_bundles = {}

" php-cs-fixer
let g:php_cs_fixer_path = "~/tmp/lib/php-cs-fixer.phar" " define the path to the php-cs-fixer.phar

" vim:set fdm=marker ts=2 sw=2 sts=0 expandtab filetype=vim:
