" basic directories
let $SWAP_DIR           = $HOME . '/tmp/vim/swaps'
let $BACKUP_DIR         = $HOME . '/tmp/vim/backups'
let $WEEKDAY_BUFFER_DIR = $HOME . '/tmp/.gtd'

" ref directories for off-line
let $REF_PHPMANUAL_PATH = $HOME . '/.vim/ref-docs/phpmanual'
let $REF_JQUERY_PATH    = $HOME . '/.vim/ref-docs/jqapi-latest'

" Default window size
if has('gui_running')
  set lines=50
  set columns=160
endif
