let g:dependency_local_lists = {
  \ 'plugin-manager'     : 'vundle', " OR pathogen
  \ 'dotfiles_dir'       : $HOME . '/workspace/dotfiles',
  \ 'weekday_buffer_dir' : $HOME . '/tmp/.gtd',
  \ 'ref_phpmanual_path' : $HOME . '/Dropbox/.vim/ref-docs/phpmanual',
  \ 'ref_jquery_path'    : $HOME . '/Dropbox/.vim/ref-docs/jqapi-latest',
  \ }

" ステートメントに空白を含められないSuckな仕様
set directory=~/tmp/vim/swaps,/tmp,.
set backupdir=~/tmp/vim/backups,/tmp,.
set viewdir=~/tmp/vim/view
if has('persistent_undo')
  set undodir=~/tmp/vim/view
endif

" TwitVim
let twitvim_browser_cmd = 'firefox.exe'
let twitvim_count       = 120
let twitvim_login_b64   = ''
let twitvim_bitly_user  = ''
let twitvim_bitly_key   = ''

" github
let g:github_user  = ''
let g:github_token = ''


" vim:set fdm=marker ts=2 sw=2 sts=0 expandtab filetype=vim:
