# zshrc on local
#


####################
## Directory aliases
####################
hash -d gh=~/src/github.com
hash -d dotfiles=~/src/github.com/nishigori/dotfiles


#################
# OS Dependencies
#################
case ${OSTYPE} in
    darwin*)
        export HOMEBREW_GITHUB_API_TOKEN="xxxxxxx_YOU_HAVE_TO_INPUT_xxxxxxxxx"

        # => Erlang/OTP version specify
        path=( /usr/local/opt/erlang@22/bin(N-/) $path )
        #export LDFLAGS="-L/usr/local/opt/erlang@22/lib"

        # => Go
        #path=( /usr/local/opt/go@1.15/bin(N-/) $path )
        #export GOROOT=/usr/local/opt/go@1.15/libexec

        # => Java
        #export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)

        # => Node(JS)
        if [ -f /usr/local/opt/nodebrew/bin/nodebrew ]; then
            export NODEBREW_ROOT=/usr/local/var/nodebrew
            /usr/local/opt/nodebrew/bin/nodebrew setup_dirs
        fi

        # => PHP
        #path=( /usr/local/opt/php@7.4/bin(N-/) /usr/local/opt/php@7.4/sbin(N-/) $path )

        # => Python
        if (( $+commands[pyenv] )); then
            export PYENV_ROOT=/usr/local/opt/pyenv
            eval "$(pyenv init -)"
        fi

        # => Ruby
        #export LDFLAGS="-L/usr/local/opt/ruby/lib"
        #export CPPFLAGS="-I/usr/local/opt/ruby/include"
        #export PKG_CONFIG_PATH="/usr/local/opt/ruby/lib/pkgconfig"

        # ==> MySQL
        path=( /usr/local/opt/mysql@5.8/bin(N-/) $path )
        #export LDFLAGS="-L/usr/local/opt/mysql@5.7/lib"
        #export CPPFLAGS="-I/usr/local/opt/mysql@5.7/include"

        # => Docker
        #export DOCKER_TLS_VERIFY=1
        ;;
esac
