# zshrc on local
#


####################
## Directory aliases
####################
hash -d gh=~/src/github.com
hash -d dotfiles=~/src/github.com/nishigori/dotfiles


#################
# OS Dependencies
#################
case ${OSTYPE} in
    darwin*)
        export HOMEBREW_GITHUB_API_TOKEN="xxxxxxx_YOU_HAVE_TO_INPUT_xxxxxxxxx"

        if [[ "arm64" == "$(uname -m)" ]]; then
            brew_root=/opt/homebrew
        else
            brew_root=$brew_root
        fi

        # => Erlang/OTP version specify
        path=( $brew_root/opt/erlang@22/bin(N-/) $path )
        #export LDFLAGS="-L$brew_root/opt/erlang@22/lib"

        # => Go
        #path=( $brew_root/opt/go@1.15/bin(N-/) $path )
        #export GOROOT=$brew_root/opt/go@1.15/libexec

        # => Java
        #export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)

        # => PHP
        #path=( $brew_root/opt/php@7.4/bin(N-/) $brew_root/opt/php@7.4/sbin(N-/) $path )

        # => Ruby
        #export LDFLAGS="-L$brew_root/opt/ruby/lib"
        #export CPPFLAGS="-I$brew_root/opt/ruby/include"
        #export PKG_CONFIG_PATH="$brew_root/opt/ruby/lib/pkgconfig"

        # ==> MySQL
        #path=( $brew_root/opt/mysql@5.8/bin(N-/) $path )
        #export LDFLAGS="-L$brew_root/opt/mysql@5.7/lib"
        #export CPPFLAGS="-I$brew_root/opt/mysql@5.7/include"

        # => Docker
        #export DOCKER_TLS_VERIFY=1
        ;;
esac
