# zshrc on local
#

export DEEPL_API_AUTH_KEY=

####################
## Directory aliases
####################
hash -d gh=~/src/github.com
hash -d dotfiles=~/src/github.com/nishigori/dotfiles


#################
# OS Dependencies
#################
case ${OSTYPE} in
  darwin*)
    export HOMEBREW_GITHUB_API_TOKEN="xxxxxxx_YOU_HAVE_TO_INPUT_xxxxxxxxx"

    # brew_root is defined by .zshrc
    #brew_root=

    # => Java
    #export JAVA_HOME=$(/usr/libexec/java_home -v 1.8)

    # => Docker
    #export DOCKER_TLS_VERIFY=1
    ;;
esac
